.node {
  width: 50px;
  height: 50px;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


li {
  list-style: none;
}

.path {
  background: teal;
}

.wall {
  background: pink;
}

.grid-ul {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
}

.start {
  background: green;
}

.finish {
  background: red;
}

.checking {
  background: orange;
  transition: background 1s;
}

.child {
  background: yellow;
}

.shortest {
  background: lightblue;
}
